* {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: black;
}

header ul {
	text-align: center;
}

header ul li {
	display: inline-block;
	border-radius: 20px;
	border: 2px gray solid;
	padding: 10px 20px;
	margin: 5px 10px;
	transition: all ease-in 0.3s;
}

header ul li a {
	text-decoration: none;
	color: white;
	transition: all ease-in 0.3s;
}

header ul li:hover {
	background-color: white;
	color: black;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
}

footer p {
	text-align: center;
}

section#content {
	width: 75%;
	margin: 50px auto;
}

@media (max-width: 844px) {
	section#content {
		width: 95%;
		margin: 10px auto;
	}

	footer {
		position: initial;
		margin-top: 50px;
	}
}
